@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-400.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-800.woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* common */

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #444444;
}

/* header */

.header-nav__select {
  opacity: 0.3;
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  appearance: none;
}

.big-select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: 16px;
}

.select-wrapper::after {
  content:"+";
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
}

summary {
  display: flex;
  align-items: center;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.dropdown__form summary::after {
  content: "";
  opacity: 0.3;
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../icons/header/plus.svg) no-repeat center center;
  margin-left: 13px;
}

details[open] > summary::after {
  background: url(../icons/header/minus.svg) no-repeat center center;
}

.dropdown {
  display: flex;
}

.dropdown__item {
  list-style: none;
}




