@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* common */

html {
  height: 100%;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #000000;
  background: #ffffff;
}

body {
  min-width: 1240px;
  padding: 0;
  margin: 0;
}

.catalog-main {
  padding-top: 35px;
}

.container {
  min-height: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 40px;
}

.background-container {
  background: #f0f0f0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disabled {
  opacity: 0.1;
  pointer-events: none;
}

.standart-state:hover {
  opacity: 0.6;
}

.standart-state:focus-visible {
  outline: 2px solid #af4fff;
}

.standart-state:active {
  opacity: 0.3;
}

.section-title {
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.section-description {
  margin: 0;
  padding: 0;

  line-height: 30px;
  color: #444444;
}

.button {
  position: relative;

  padding: 10px 0;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: inherit;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button-yellow-line {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  height: 8px;
  width: 100%;

  background: #FFE17F;
}

.button-yellow:hover {
  background: #FFE17F;
}

.button-yellow:focus-visible {
  outline: 2px solid #AF4FFF;
}

.button-yellow:active {
  background: #FFCC33;
}

.button-yellow:disabled,
.button-yellow:disabled:hover {
  opacity: 0.3;
}

.service__list .button-active {
  display: block;

  text-align: start;

  background: #000000;
  color: #FFE17F;
}

.button-active:hover {
  background: #000000;
  color: #FFE17F80;
}

.button-active:focus-visible {
  background: #000000;
  color: #FFE17F;
  outline: 2px solid #AF4FFF;
}

.button-active:active {
  background: #000000;
  color: #FFE17F4D;
}
/* header */

.header-nav {
  position: relative;

  margin: 40px 0 0 0;
  padding: 43px 60px 0 60px;

  background-color: #FFE17F;
}

.header-nav__logo {
  position: absolute;
  top: -22px;
  left: 60px;
}

.header-nav__logo:hover {
  opacity: 0.6;
}

.header-nav__logo:focus-visible {
  outline: 2px solid #AF4FFF;
}

.header-nav__logo:active {
  opacity: 0.3;
}

.header-nav__last-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 22.6px 0;
}

/* nav-bar */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nav-bar__form {
  display: flex;
}

.nav-bar__form-wrapper {
  max-width: 517px;
  flex: 1 0 auto;
}

.nav-bar__field-input {
  width: 100%;
  margin: 0;
  padding: 8.4px 8.4px 8.4px 44px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  font-family: inherit;

  border: 2px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 50px 0 0 50px;
  background: #FFE17F;
}

.nav-bar__field-input:focus-visible {
  outline: none;
}

.nav-bar__field-input:disabled,
.nav-bar__field-input:disabled:hover,
.nav-bar__field-input:disabled ~ .nav-bar__field-icon {
  opacity: 0.3;
}

.nav-bar__button-wrapper {
  flex: 0 0 160px;
}

.nav-bar__button-wrapper:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.nav-bar__button {
  width: 100%;
  padding: 8.4px 55.5px;

  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  cursor: pointer;

  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  background: #FFE17F;
  border-left: 1px solid #000000;
}

.nav-bar__button:hover {
  background: #000000;
  color: #FFFFFF;
}

.nav-bar__button:focus-visible {
  outline: none;
}

.nav-bar__button:active {
  background: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.nav-bar__button:disabled,
.nav-bar__button:disabled:hover {
  opacity: 0.3;
}

.nav-bar__field {
  display: flex;
  position: relative;
}

.nav-bar__field:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.nav-bar__field-icon {
  position: absolute;
  top: 12px;
  left: 17px;

  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../icons/header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-bar__sign-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 231px;
}

.nav-bar__sign-in-icon {
  display: flex;
  align-items: center;
  max-width: 160px;

  text-decoration: none;
  color: inherit;
  line-height: 30px;
}

.nav-bar__log-out-icon {
  display: none;
  align-items: center;

  line-height: 30px;
  text-decoration: none;
  color: inherit;
  opacity: 0.3;
}

.nav-bar__log-out-icon-active {
  display: flex;
}

.nav-bar__sign-in-icon::before {
  display: block;
  width: 13px;
  height: 12px;
  margin-right: 13px;

  content: "";
  background: url("../icons/header/login.svg") no-repeat center;
}

/* navigation-menu */

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 241px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-menu__link {
  display: flex;
  align-items: center;
  height: 100%;

  text-decoration: none;
  color: inherit;
  line-height: 30px;
}

.navigation-menu__item {
  position: relative;
}

.navigation-menu__item:first-child {
  margin-right: 16px;
}

.navigation-menu__item:last-child .navigation-menu__link {
  position: relative;
  padding-left: 18px;
}

.navigation-menu__icon {
  position: absolute;
  top: 23%;
  left: 3%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  border-radius: 50%;
  background: #FFFFFF;
}

.navigation-menu__item:first-child .navigation-menu__link::before {
  display: block;
  width: 10px;
  height: 12px;
  margin-right: 11px;

  content: "";
  background: url("../icons/header/sort.svg") no-repeat center;
}

.navigation-menu__item:last-child .navigation-menu__link::before {
  display: block;
  min-width: 16px;
  height: 14px;
  margin-right: 12px;

  content: "";
  background: url("../icons/header/cart.svg") no-repeat center;
}

/* breadcrumbs */

.catalog-main h1 {
  margin-bottom: 16px;
}

.breadcrumbs__wrapper {
  padding-left: 60px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 35px 0;

  list-style-type: none;
}

.breadcrumbs__link {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs__link:not(:last-child) {
  margin-right: 18px;
}

.breadcrumbs__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.breadcrumbs__arrow {
  display: block;
  width: 4px;
  height: 7px;
  margin: 0 16px 0 0;

  background: url("../icons/catalog/nav-arrow.svg") no-repeat center;
  opacity: 0.2;
}

/* dropdown */

.dropdown__form {
  position: relative;

  line-height: 21px;
}

.dropdown__title {
  display: flex;
  align-items: center;
  max-width: 300px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.dropdown__title:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.dropdown__form summary::after {
  min-width: 50px;
  height: 50px;
  margin-left: 16px;
  box-sizing: border-box;

  content: "";
  opacity: 0.3;
  border: 2px solid #000000;
  border-radius: 50%;
  background: url("../icons/header/plus.svg") no-repeat center center;
}

.dropdown__form summary:hover::after,
.dropdown__form summary:active::after {
  opacity: 1;
}

details[open] > summary::after {
  background: url("../icons/header/minus.svg") no-repeat center center;
}

details[open] > .dropdown__list-wrapper {
  position: relative;
}

.dropdown {
  display: flex;
}

.dropdown__item {
  list-style: none;
}

.dropdown__item-active .dropdown__link {
  border-bottom: 2px solid #000000;
  padding: 0 0 2px 0;
}

.dropdown__link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 18px;
}

.dropdown__list-wrapper {
  display: flex;
  gap: 30px;
  padding: 14px 0 33px 0;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0;
  padding: 0;
}

/* information-menu */

.information-menu {
  position: absolute;
  right: -1px;

  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px 47px;
  max-width: 520px;
  margin: 15.8px 0;
  padding: 0;

  list-style: none;
}

.information-menu__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.information-menu__item {
  max-width: 128px;
}

.information-menu__item-active .information-menu__link {
  border-bottom: 2px solid #000000;
  padding: 0 0 5px 0;
}

/* main-slaider */
.main-slaider {
  margin-bottom: 70px;
}

.main-slaider__list {
  margin: -37px 0 0 0;
  padding: 0;

  list-style-type: none;
}

.main-slaider__item {
  position: relative;
}

.main-slaider__item:not(:first-child) {
  display: none;
}

.main-slaider__upper-background {
  position: absolute;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 135px;
  width: 100%;
  padding: 16px 0 0 0;

  background: #FFE17F;
}

.main-slaider__number {
  position: absolute;
  top: 83px;
  right: 49px;

  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.main-slaider__lower-background {
  display: flex;
  margin-top: -14px;
}

.main-slaider__left-part {
  position: relative;

  margin-right: 41px;
}

.main-slaider__img {
  display: block;
  width: 560px;
  height: 560px;
}

.main-slider__controls {
  position: absolute;
  top: 211px;

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-slaider__button {
  display: block;
  width: 20px;
  height: 60px;

  background: url("../icons/index/right-tall-arrow.svg") no-repeat center;
}

.main-slaider__prev {
  transform: rotate(180deg);
  margin-left: 30px;
}

.main-slaider__right-part {
  z-index: 1;

  padding: 123px 0 0 0;
}

/* content-slaider */

.content-slaider__title {
  margin-bottom: 29px;
}

.content-slaider__text {
  margin-bottom: 51px;
}

.content-slaider__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
}

.content-slaider__button {
  padding: 10px 37px;
}

.content-slaider__navigation-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.content-slaider__navigation-item {
  position: relative;
}

.content-slaider__navigation-item:not(:last-child) {
  margin-right: 20px;
}

.content-slaider__navigation-button {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;
  box-sizing: border-box;

  border: 2px solid #000000;
  border-radius: 50%;
}

.content-slaider__navigation-button-ouline {
  position: absolute;
  right: -2px;
  top: -1px;

  width: 16px;
  height: 16px;
}

.content-slaider__navigation-button-ouline:focus {
  outline: 2px solid #AF4FFF;
}

.content-slaider__navigation-button:focus-visible {
  outline: none;
}

.content-slaider__navigation-button_active {
  background: #000000;
}

.content-slaider__property-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;

  list-style-type: none;
  line-height: 30px;
}

.content-slaider__property-item:not(:last-child) {
  margin-right: 20px;
}

.content-slaider__property-title {
  margin: 0 0 11px 0;

  font-size: 36px;
}

.content-slaider__property-text {
  margin: 0;

  font-size: 16px;
  color: #444444;
}

/* product-categories */

.product-categories {
  margin-bottom: 70px;
}

.product-categories__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product-categories__img {
  display: block;
  margin-bottom: 33px;

  background: #FFE17F;
}

.product-categories__item:hover .product-categories__img {
  background: #FFC700;
}

.product-categories__item:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.product-categories__item:active {
  opacity: 0.3;
}

.product-categories__link {
  text-decoration: none;
  color: inherit;
}

.product-categories__text {
  padding: 0;
  margin: 0;
  min-height: 60px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

/* services */

.services-list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}


/* service */

.service {
  position: relative;

  margin-bottom: 72px;

  text-decoration: none;
  color: inherit;
}

.service:not(:first-child) {
  display: none;
}

.service__background {
  position: absolute;
  top: 102px;
  z-index: -1;

  width: 100%;
  min-height: 289px;

  background: #F0F0F0;
}

.service .container {
  display: grid;
  grid-template-columns: 287px 1fr;
}

.service__container {
  order: 1;

  display: flex;
  align-items: center;
  min-width: 729px;
  box-sizing: border-box;
  padding: 0 63px 0 116px;
}

.services__item:nth-of-type(2) .service__container,
.services__item:nth-of-type(3) .service__container {
  padding-right: 28px;
}

.service__text-wrapper {
  max-width: 475px;
}

.service__title {
  margin-bottom: 34px;
}

.service__list {
  padding: 64px 0 65px 0;
  margin: 0;
  box-sizing: border-box;

  list-style-type: none;
  border-right: 7px solid #000000;
}

.service__link {
  box-sizing: border-box;
  display: inline-block;
}

.service__item:nth-child(1) .service__link {
  padding: 9.6px 16.1px;
}

.service__item:nth-child(2) .service__link {
  padding: 9.6px 18.1px;
}

.service__item:nth-child(3) .service__link {
  padding: 9.6px 32.1px;
}

.service__item:not(:last-child) {
  margin-bottom: 35px;
}

.service:nth-child(1) .service__icon {
  width: 136px;
  height: 164px;

  background: url("../img/Index/3.Delivery/1-slaider.png") no-repeat center;
}

.service:nth-child(2) .service__icon {
  width: 171px;
  height: 195px;

  background: url("../img/Index/3.Delivery/2-slaider.png") no-repeat center;
}

.service:nth-child(3) .service__icon {
  width: 156px;
  height: 188px;

  background: url("../img/Index/3.Delivery/3-slaider.png") no-repeat center;
}

.service__icon {
  margin-left: auto;
}

/* device-order */

.device-order {
  padding: 70px 0;
}

.delivery-order__body {
  display: grid;
  grid-template-columns: 125px 1fr 125px;
}

.delivery-order__body:hover .delivery-order__icon {
  background-color: #FFC700;
}

.delivery-order__body:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.delivery-order__body:active {
  opacity: 0.3;
}

.delivery-order__icon {
  width: 47px;
  height: 31px;
  padding: 35px 39px 34px;

  background: url("../icons/index/delivery.svg") no-repeat center;
  background-color: #FFE17F;
}

.delivery-order__link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  text-decoration: none;

  background: #F0F0F0;
}

.delivery-order__additional {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #F0F0F0;
}

.delivery-order__additional-icon {
  width: 40px;
  height: 40px;

  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='2' height='12' viewBox='0 0 2 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.3' clip-path='url(%23clip0_45319_68)'%3e%3cpath d='M2 0H0V2H2V0Z' fill='black'/%3e%3cpath d='M2 4H0V12H2V4Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_45319_68'%3e%3crect width='2' height='12' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") no-repeat center;
  border-radius: 50%;
  background-color: #DCDCDC80;
}

.delivery-order__body:hover .delivery-order__additional-icon {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='2' height='12' viewBox='0 0 2 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='1' clip-path='url(%23clip0_45319_68)'%3e%3cpath d='M2 0H0V2H2V0Z' fill='black'/%3e%3cpath d='M2 4H0V12H2V4Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_45319_68'%3e%3crect width='2' height='12' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") no-repeat center;
  border-radius: 50%;
  background-color: #DCDCDC80;
}

/* information */

.information-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}

.line-title {
  order: -1;

  display: block;
  width: 84px;
  height: 7px;
  margin-bottom: 40px;

  background: #000000;
}

/* about-us */

.about-us {
  display: flex;
  flex-direction: column;
  width: 44.8%;
}

.about-us__title {
  margin-bottom: 47px;
}

.about-us__wrapper {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 28px 0;
}

.about-us__text {
  max-width: 497px;
}

.about-us__text:first-child {
  margin-bottom: 2px;
}

.about-us__list {
  margin: 0 0 11px 0;
  padding: 0;

  list-style-type: none;
}

.about-us__item {
  position: relative;

  display: flex;
  align-items: center;
  padding: 0 0 0 2px;
  max-width: 460px;

  font-weight: 700;
  letter-spacing: -0.02em;
}

.about-us__item::before {
  display: block;
  content: "";
  min-width: 8px;
  height: 8px;
  margin: 0 26px 0 0;

  background: #FFC700;
  border-radius: 50%;
}

.about-us__item:not(:last-child) {
  margin-bottom: 18px;
}

.about-us__button {
  padding: 9.6px 21.57px;
}

/* contacts */

.contacts {
  display: flex;
  flex-direction: column;
  width: 45.8%;
}

.contacts__main-title {
  margin-bottom: 46px;
}

.contacts__line-wrapper {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 30px 0;
}

.contacts__title {
  margin: 0 0 15px 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts__text {
  max-width: 509px;
}

.contacts__line-time-wrapper .contacts__text {
  margin: 0 0 10px 0;
}

.contacts__line__adress {
  font-style: normal;
}

.contacts__phone {
  position: relative;

  text-decoration: none;
}

.contacts__phone::before {
  position: absolute;
  top: 18px;

  width: 100%;
  height: 1px;

  content: "";
  background: #444444;
}

.contacts__button {
  padding: 9.6px 32px;
}

/* subscribe */

.subscribe {
  background: #F0F0F0;
}

.subscribe__container {
  padding: 64px 0 56px 0;
}

.subscribe__text-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 144px;
}

.subscribe__title {
  padding-left: 7px;
  max-width: 348px;
  align-self: flex-start;
}

.subscribe__text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 554px;
  margin-left: auto;
}

.subscribe__form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__form-wrapper {
  width: 69.8%;
}

.subscribe__form {
  display: flex;
}

.suscribe__field {
  flex: 1 1 auto;
}

.subscribe__button-wrapper {
  flex: 0 0 253px;
}

.subscribe__button {
  box-sizing: border-box;
  padding: 15.6px 35px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  cursor: pointer;
  border: 3px solid #CECECE;
}

.subscribe__button:hover {
  background: #DCDCDC;
}

.subscribe__button:active {
  color: rgba(0, 0, 0, 0.3);
  background: #DCDCDC;
}

.subscribe__last-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 160px;
}

.subscribe__text {
  display: flex;
  align-items: center;
}

.subscribe__text::before {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 16.5px;

  content: "";
  background: url("../icons/index/tick-big.svg") no-repeat center;
}

/* field */

.field-input {
  width: 100%;
  height: 57px;
  box-sizing: border-box;
  padding: 0 17px 0 17px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  border: none;
  border-bottom: 3px solid #C4C4C4;
  background: #F0F0F0;
}

.field-input::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.field-input__error {
  color: #444444;

  background-color: #FFFFFF;
  border-color: #FF3D3D;
}

.field-input:hover {
  background: #FFFFFF;
}

.field-input:focus {
  color: #444444;

  outline: none;
  background-color: #FFFFFF;
}

.field-input:valid {
  color: #444444;
}

.field-input:disabled,
.field-input:disabled:hover {
  opacity: 0.3;
}

/* page-footer */

.page-footer {
  background: #444444;
}

.page-footer__body {
  padding: 62px 0 61px 0;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 30px;
}

.page-footer__logo:hover {
  opacity: 0.6;
}

.page-footer__logo:focus-visible {
  outline: 2px solid #AF4FFF;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__contacts-list {
  display: flex;
  margin-bottom: 48px;
}

.page-footer__adress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 236px;
  margin-right: 115px;
}

.page-footer__adress {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
}

.page-footer__information-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px 32px;
  margin: 0;
  padding: 4px 0 0 0;

  list-style-type: none;
}

.page-footer__information-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.page-footer__information-menu-link:hover {
  color: #FFC700;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  text-decoration-color: #FFC700;
}

.page-footer__information-menu-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.page-footer__information-menu-link:active {
  color: #FFC700;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  text-decoration-color: #FFC700;
  opacity: 0.3;
}

.page-footer__phone-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 6px 4px 0 auto;
  max-width: 175px;
}

.page-footer__phone {
  position: relative;

  display: flex;

  font-size: 16px;
  line-height: 20px;
  text-decoration-line: none;
  color: #FFFFFF;
}

.page-footer__phone::before {
  position: absolute;
  top: 18px;

  width: 100%;
  height: 1px;

  background: #FFFFFF;
  content: "";
}

.page-footer__phone:hover {
  color: #FFC700;
}

.page-footer__phone:hover::before {
  background: #FFC700;
}

.page-footer__phone:focus-visible {
  outline: 2px solid #AF4FFF;
}

.page-footer__phone:active {
  color: #FFC700;
  opacity: 0.3;
}

.page-footer__phone:active::before {
  background: #FFC700;
}

.page-footer__links-list {
  display: flex;
  align-items: center;
}

.page-footer__span {
  display: inline-block;
  width: 80px;
  height: 7px;
  margin-right: 34px;

  background: #FFC700;
}

.page-footer__social-wrapper {
  flex-grow: 1;
}

.page-footer__links-list-link:hover path {
  fill: #FFFFFF;
}

.page-footer__links-list-link:focus-visible {
  outline: 1px solid #AF4FFF;
}

.page-footer__links-list-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

/* social */

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 444px;
  margin: 0 auto;
  padding: 0;

  list-style-type: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social__link:hover {
  background: #FFC700;
}

.social__outline-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.social__link:active {
  background: #FFC700;
}

.social__link:active path {
  fill: rgba(68, 68, 68, 0.3);
}

/* filter */

.filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 0 0 0;
}

.filter__fieldset {
  margin: 0 0 35.5px 0;
  padding: 12px 0 0 0;
  box-sizing: border-box;

  border: none;
  border-top: 2px solid #000000;
}

.filter__fieldset:first-child {
  margin: 0 0 33.5px 0;
}

.filter__fieldset:last-child {
  margin: 0 0 45.5px 0;
}

.filter__wrapper {
  width: 200px;
}

.filter__main-title {
  margin: 0 0 60px 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter__title {
  padding: 0;
  margin: 0 0 26px 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter__fieldset:nth-child(2) .filter__title,
.filter__fieldset:nth-child(3) .filter__title {
  margin: 0 0 20px 0;
}


.filter__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.filter__button {
  padding: 10px 47.45px;
  margin: 0;

  font-size: 18px;

  border: none;
  background: url("../icons/catalog/yellow-line.svg") no-repeat center;
}

/* range */

.range__scale {
  position: relative;

  height: 2px;
  margin-bottom: 16px;

  background-color: #DCDCDC;
}

.range__bar {
  position: absolute;
  left: 0;
  right: 81px;

  height: 2px;

  background-color: #000000;
}

.range__toogle {
  position: absolute;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background: #EBEBEB;
  border: 2px solid #000000;
  cursor: pointer;
}

.range__toogle:hover {
  z-index: 2;

  border: 2px solid rgba(0, 0, 0, 0.5);
  background: #EBEBEB;
}

.range__toogle:focus-visible {
  outline: 2px solid #AF4FFF;
}

.range__toogle:active {
  background: #000000;
}

.range__toogle-min {
  top: -8px;
  left: -9px;
}

.range__toogle-max {
  top: -8px;
  right: -9px;
}

.range__wrapper-inputs {
  display: flex;
  justify-content: center;
}

.range__label {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.range__input {
  width: 61px;
  padding: 0 2px;
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  appearance: textfield;
  border: none;
}

.range__label:first-child {
  margin-right: 5px;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range__input:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

/* control */

.control {
  position: relative;

  display: block;
  padding-left: 36px;

  font-size: 16px;
  line-height: 19px;
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;

  width: 10px;
  height: 10px;

  content: "";
  background: url("../icons/catalog/tick\ 1.svg") no-repeat center;
}

.control__input[type="checkbox"]:checked + .control__mark {
  border-color: #000000;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;

  width: 8px;
  height: 8px;

  content: "";
  background: #000000;
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark {
  border-color: #000000;
}

.control__mark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control__mark:hover {
  opacity: 0.6;
}

.control__mark:active {
  opacity: 0.3;
}

.control__input:disabled + .control__mark,
.control__input:disabled:hover + .control__mark {
  opacity: 0.1;
}

.control__input:disabled ~ .control__label,
.control__input:disabled:hover ~ .control__label {
  opacity: 0.1;
}

/* color-list */

.color-list .control__mark {
  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;
  box-sizing: border-box;

  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.color-list .control__mark:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.color-list .filter__item:not(:last-child) {
  margin-bottom: 18px;
}

/* options-list */

.options-list .control__mark {
  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;
  box-sizing: border-box;

  border: 2px solid #CCCCCC;
  border-radius: 50%;
}

.options-list .control__mark:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.options-list .filter__item:not(:last-child) {
  margin-bottom: 20px;
}

/* catalog */

.catalog-container {
  display: grid;
  grid-template-columns: 27.58% 1fr;

  background-color: #F0F0F0;
}

.catalog__sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 40px;
}

.catalog__title {
  max-width: 200px;
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog__sorting-buttons {
  display: flex;
}

.catalog__sorting-button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.2' clip-path='url(%23clip0_11478_2970)'%3e%3cpath d='M6 0L11.5 10H0.5' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_11478_2970'%3e%3crect width='11' height='10' fill='white' transform='translate(0.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ") no-repeat center;
  border: none;
  cursor: pointer;
}

.catalog__sorting-button-down {
  transform: rotate(180deg);
}

.catalog__sorting-button:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.5' clip-path='url(%23clip0_11478_2975)'%3e%3cpath d='M6 0L11.5 10H0.5' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_11478_2975'%3e%3crect width='11' height='10' fill='white' transform='translate(0.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}

.catalog__sorting-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.catalog__sorting-button:active {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_11478_2978)'%3e%3cpath d='M6 0L11.5 10H0.5' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_11478_2978'%3e%3crect width='11' height='10' fill='white' transform='translate(0.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}

.catalog__card-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  padding: 70px 40px 44px 40px;

  background: #FFFFFF;
}

/* card */

.card {
  position: relative;

  width: 360px;
}

.card__img {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
}

.card__link {
  position: relative;

  text-decoration: none;
  color: inherit;
}


.card__link:hover img,
.card__link:hover h4,
.card__link:hover .card__text,
.card__link:hover .card__new {
  opacity: 0.6;
}

.card__link:hover .card__button {
  display: block;
}

.card:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.card__link:active img,
.card__link:active h4,
.card__link:active .card__text,
.card__link:active .card__new {
  opacity: 0.6;
}

.card__link:active .button-yellow-line {
  background: #FFC700;
}

.card__title {
  margin: 0;
  padding: 0;
  width: 59.5%;

  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.card__text {
  margin: 0;
  padding: 0;

  line-height: 21px;
  color: #444444;
}

.card__button {
  position: absolute;
  top: 170px;
  left: 70px;
  z-index: 2;

  display: none;
  padding: 10px 37.1px;
  margin: 0;
}

.card__new {
  position: absolute;
  top: 27px;
  right: 27px;

  display: none;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.6);

  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.card__new-open {
  display: flex;
}

/* pagination */

.pagination {
  background: #FFFFFF;
  padding: 0 40px 78px 40px;
}

.pagination__button-large {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 44px 0;
  padding: 16px 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 19px;

  border: 3px solid #E5E5E5;
  cursor: pointer;
}

.pagination__button-large:hover {
  border-color: #000000;
}

.pagination__button-large:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination__button-large:active {
  color: rgba(0, 0, 0, 0.3);

  border-color: rgba(0, 0, 0, 0.3);
}

.pagination__button-large:disabled,
.pagination__button-large:disabled:hover {
  color: rgba(0, 0, 0, 0.3);

  border-color: rgba(229, 229, 229, 0.3);
}

.pagination__list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #EBEBEB;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;

  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
}

.pagination__link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination__link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination__link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination__item-active a {
  color: rgba(68, 68, 68, 0.6);
}

.pagination__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  background: #EBEBEB;
}

.pagination__button-closed {
  visibility: hidden;
}

.pagination__button:hover {
  background: #DCDCDC;
}

.pagination__button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination__button:active {
  background: #DCDCDC;
  opacity: 0.3;
}


/* select */

.catalog__select-wrapper {
  min-width: 187px;
}

.select {
  display: flex;
  align-items: center;
}

.select__form {
  position: relative;
  z-index: 1;

  width: 100%;
}

.select__title {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 14px;
  margin: 0;
  box-sizing: border-box;

  line-height: 30px;

  cursor: pointer;
  user-select: none;
}

.select__title::marker {
  display: none;
}

.select__title::after {
  width: 9px;
  height: 6px;
  padding: 12px 10.5px;
  margin-left: auto;
  margin-right: 13px;

  content: "";
  background: url("../icons/catalog/Property\ 1=arrow-down\,\ state=Default.svg") no-repeat 50% 55%;
}

.select__form[open] .select__menu {
  background-color: #FFFFFF;
}

.select__form[open] .select__title::after {
  width: 9px;
  height: 6px;
  padding: 12px 10.5px;
  margin-left: auto;

  content: "";
  background: url("../icons/catalog/Property\ 1=arrow-down\,\ state=Default.svg") no-repeat 50% 55%;
  transform: rotate(180deg);
}

.select__title:hover {
  opacity: 0.6;
}

.select__title:focus-visible {
  outline: 2px solid #AF4FFF;
}

.select__title:active {
  opacity: 0.3;
}

.select__menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;

  margin: 0;
  padding: 5px 0;
  box-sizing: border-box;

  list-style-type: none;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.select__option {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 15px;

  text-decoration: none;
  font-style: inherit;
  font-family: inherit;
  color: inherit;
}

.select__item-active {
  background: rgba(68, 68, 68, 0.3);
}

.select__option:hover {
  background: #DCDCDC;
}

.select__item-active .select__option:hover {
  background-color: transparent;
}

.select__option:active {
  opacity: 0.5;
}

/* Popover */

.popover {
  position: absolute;
  top: 40px;
  right: -78px;
  z-index: 5;

  display: none;
  width: 320px;
  min-height: 134px;
  box-sizing: border-box;

  background: #000000;
}

.popover__active {
  display: block;
}

.popover__content {
  height: 100%;
}

.popover::before {
  position: absolute;
  top: -6px;
  right: 50%;

  display: block;
  width: 14px;
  height: 6px;

  content: "";
  background: url("../icons/Popover/triangle.svg");
  transform: translateX(7px);
}

.popover__button-wrapper {
  padding: 20px;
}

.popover__button {
  display: block;
  box-sizing: border-box;
  padding: 14.5px 23px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  background: #FFFFFF;
}

.popover__button:hover {
  background: #FFE17F;
}

.popover__button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.popover__button:active {
  color: rgba(0, 0, 1, 0.3);

  background: #FFE17F;
}

.popover__button-disabled {
  color: rgba(0, 0, 1, 0.3);

  pointer-events: none;
}

.popover__summary {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;

  background: #1A1A1A;
}

.popover__state-wrapper {
  display: flex;
  padding: 0;
  margin: 0;

  text-decoration: none;
}

.popover__state-wrapper:hover {
  opacity: 0.6;
}

.popover__state-wrapper:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.popover__state-wrapper:active {
  opacity: 0.3;
}

.popover__text {
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.popover__product-list {
  padding: 0;
  margin: 0;
}

.popover__product-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.popover__product-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popover__product-img {
  width: 39px;
  height: 43px;
  margin-right: 23px;
}

.popover__product-img:hover ~ .popover__product-description,
.popover__product-description:hover ~ .popover__product-img {
  opacity: 0.6;
}

.popover__product-delete-button {
  position: relative;
  left: 16px;
  top: -16px;

  display: grid;
  align-self: flex-start;
  margin: 0;
  padding: 16px 16px 16px 22px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popover__product-delete-button::after {
  display: block;
  width: 10px;
  height: 10px;

  content: "";
  background: url("../icons/Popover/cross.svg") no-repeat center;
}

.popover__product-delete-button:hover {
  opacity: 0.6;
}

.popover__product-delete-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: -18px;
}

.popover__product-delete-button:active {
  opacity: 0.3;
}

/* modal*/

.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(240, 240, 240, 0.9);
}

.modal__active {
  display: flex;
}

.modal {
  position: relative;

  margin: auto;
  padding: 72px 80px;
  box-sizing: border-box;

  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.modal-auth {
  width: 920px;
}

.modal__header-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__main-title {
  margin-bottom: 42px;
}

.modal__close-button {
  position: absolute;
  top: 0;
  right: -12px;

  width: 50px;
  height: 50px;
  padding: 0;

  background: url("../icons/modal-window/cross.svg") center no-repeat;
  border: none;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__close-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: -11px;
}

.modal__close-button:active {
  opacity: 0.3;
}

.modal__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 42px 40px;
}

.modal__form-item {
  position: relative;

  display: flex;
  flex-direction: column;

  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.modal__form-item:first-child {
  grid-column: span 2;
  grid-row: span 1;
}

.modal__form-item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 1;
}

.modal__form-item:nth-child(3) {
  grid-column: span 3;
  grid-row: span 1;
}

.modal__input {
  margin: 14px 0 0 0;
  padding: 0;

  color: rgba(0, 0, 0, 1);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  border: none;
  background: #F0F0F0;
}

.modal__input:hover {
  background: #DCDCDC;
}

.modal__form-item:not(:last-of-type) .modal__input:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.modal__input:disabled:hover,
.modal__input:disabled {
  background: #F0F0F0;
  opacity: 0.3;
}

.modal__form-item:not(:last-of-type) .modal__input:disabled:hover + span,
.modal__form-item:not(:last-of-type) .modal__input:disabled + span {
  opacity: 0.3;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal__input-error {
  background: #F0F0F0;
  box-shadow: inset 0 0 0 2px #FF3D3D;
}

.modal__input:not(.modal__input-amount) {
  padding: 20px 0 20px 20px;
}

.modal__input-icon-name {
  position: absolute;
  right: 20px;
  top: 58px;

  display: block;
  width: 15px;
  height: 12px;

  background: url("../icons/modal-window/figure.svg") no-repeat center;
}

.modal__input-message {
  padding: 0;
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  visibility: hidden;
}

.modal__input-message-active {
  visibility: visible;
}

.modal__input-message-error {
  color: #FF3D3D;
}

.modal__input-icon-email {
  position: absolute;
  right: 20px;
  top: 58px;

  display: block;
  width: 15px;
  height: 12px;

  background: url("../icons/modal-window/mail.svg") no-repeat center;
}

.modal__submit-button {
  padding: 10px 29.3px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  cursor: pointer;
  border: none;
  background: url("../icons/catalog/yellow-line.svg") no-repeat center;
}

.modal__form__additional {
  position: absolute;
  right: 33px;
  top: -3px;

  width: 26px;
  height: 26px;

  background: url("../icons/modal-window/i.svg") no-repeat center;
  background-color: #FFE17F;
  border-radius: 50%;
  cursor: pointer;
}

.modal__form__additional:hover .modal__form__additional-information,
.modal__form__additional:focus-visible .modal__form__additional-information {
  display: block;
}

.modal__form__additional-information {
  position: absolute;
  top: 33px;
  left: -120px;
  z-index: 2;

  display: none;
  width: 200px;
  margin: 0;
  padding: 18px;
  box-sizing: border-box;

  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;

  background: #000000;
}

.modal__form__additional-information::before {
  position: absolute;
  top: -6px;
  right: 59px;

  display: block;
  width: 14px;
  height: 6px;

  content: "";
  background: url("../icons/Popover/triangle.svg");
}

.modal__form-amount-wrapper {
  display: flex;
  margin-top: 14px;
}

.modal__form-amount-error {
  outline: 2px solid #FF3D3D;
}

.modal__input-amount {
  width: 60px;
  height: 60px;
  margin: 0;

  text-align: center;

  background: #F0F0F0;
  box-sizing: border-box;
}

.modal__input-amount:focus-visible {
  border: 2px solid #AF4FFF;
  outline: none;
}

.modal__input::-webkit-outer-spin-button,
.modal__input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

.modal__form-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;

  cursor: pointer;
  background: #F0F0F0;
  border: none;
}

.modal__form-button:hover {
  background: #EBEBEB;
}

.modal__form-button:hover span {
  opacity: 0.6;
}

.modal__form-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.modal__form-button:active {
  background: #F0F0F0;
}

.modal__form-button:active span {
  opacity: 0.3;
}

.modal__form-button:disabled,
.modal__form-button:disabled span,
.modal__form-button:disabled:hover,
.modal__form-button:disabled:hover span {
  opacity: 0.3;
}

.modal__form-minus {
  width: 16px;
  height: 2px;

  background: #000000;
}

.modal__plus {
  width: 16px;
  height: 2px;

  background: #000000;
}

.modal__plus-vertical {
  position: absolute;

  transform: rotate(-90deg);
}
